<section class="banner">
  <header>
    <a routerLink="/" class="logo">BluBlu Games</a>
    <div class="toggle" (click)="toggle()" click></div>
  </header>

  <div class="content">
    <div class="contentBox">
      <h2>zxc</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum deserunt quas dolores natus consequuntur eius,
        cum ad sint impedit, odio, eum quasi. Sit totam, provident voluptas inventore beatae dolore accusamus?
        Doloribus totam itaque excepturi, quaerat nesciunt vero accusamus omnis dignissimos, unde repellat nihil error
        recusandae architecto iusto dolorem adipisci officiis quos quibusdam odio quam voluptates ratione qui cumque.
        Nulla, neque!
        Assumenda, id quidem. Modi sed eum ut amet laboriosam ipsam in commodi soluta aliquam quos. Laborum pariatur
        voluptates inventore. Aspernatur nostrum libero, voluptatum enim nobis laboriosam in temporibus minima incidunt!
        Cum ullam praesentium fuga veniam recusandae, saepe in excepturi voluptatum vel debitis aut mollitia?
        Consectetur voluptatem quisquam molestiae consequatur fuga dignissimos ab alias enim sed. Fugit libero omnis
        soluta dolor?
        Natus, eveniet explicabo officia quibusdam earum saepe odio nesciunt, consectetur harum voluptatibus maiores rem
        distinctio delectus! Natus commodi ipsa alias totam. Fugiat voluptas eum aspernatur repellendus dolores, impedit
        ipsum eligendi?</p>
      <a routerLink="/">Home</a>
    </div>
    <div class="imageBox">
      <!-- <img src="assets/img/watchb.png" alt=""> -->
    </div>
  </div>
  <ul class="socialMedia">
    <li><a href="https://www.facebook.com/BluBlu-Games-100103615217247"><img src="assets/img/facebook.png"></a></li>
    <li><a href="https://www.instagram.com/blublugames/"><img src="assets/img/instagram.png"></a></li>
  </ul>
  <ul class="menu">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/games">Games</a></li>
    <li><a routerLink="/websites">Websites</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
</section>
<div class="navbar-temp">
