<section class="banner">
  <header>
    <a routerLink="/" class="logo" data-test="logo" [innerHTML]="'home.logo' | translate"></a>
    <div class="toggle" (click)="toggle()" click></div>
  </header>

  <div class="content">
    <div class="webDevBox">
      <h2 data-test="logo" [innerHTML]="'about.webDevTitle' | translate"></h2>
      <p data-test="logo" [innerHTML]="'about.webDevText' | translate"></p>
      <a routerLink="/websites" data-test="logo" [innerHTML]="'about.webDevButton' | translate"></a>
    </div>
    <div class="gameDevBox">
      <h2 data-test="logo" [innerHTML]="'about.gameDevTitle' | translate"></h2>
      <p data-test="logo" [innerHTML]="'about.gameDevText' | translate"></p>
      <a routerLink="/games" data-test="logo" [innerHTML]="'about.gameDevButton' | translate"></a>
    </div>
  </div>
  <ul class="socialMedia" data-test="social-media-menu">
    <li><a href="https://www.facebook.com/BluBlu-Games-100103615217247" data-test="social-media-facebook-link"><img src="assets/img/facebook.png"></a></li>
    <li><a href="https://www.instagram.com/blublugames/"><img src="assets/img/instagram.png" data-test="social-media-instagram-link"></a></li>
    <li>
      <div class="languages" data-test="languages-menu">
        <select (change)="setLanguage($event.target.value)" class="language-select" data-test="language-select">
          <option value="en" [selected]="currentLanguage==='en'" data-test="language-select-english" [innerHTML]="'languages.english' | translate"></option>
          <option value="pl" [selected]="currentLanguage==='pl'" data-test="language-select-polish" [innerHTML]="'languages.polish' | translate"></option>
        </select>
      </div>
    </li>
  </ul>
  <blublu-navigation class="menu"></blublu-navigation>
</section>
<div class="navbar-temp">
