$JetBrainsMono-Bold-Italic-path: "./assets/font/JetBrainsMono-Bold-Italic.woff";
$JetBrainsMono-Bold-path: "./assets/font/JetBrainsMono-Bold.woff";
$JetBrainsMono-ExtraBold-Italic-path: "./assets/font/JetBrainsMono-ExtraBold-Italic.woff";
$JetBrainsMono-ExtraBold-path: "./assets/font/JetBrainsMono-ExtraBold.woff";
$JetBrainsMono-ExtraLight-Italic-path: "./assets/font/JetBrainsMono-ExtraLight-Italic.woff";
$JetBrainsMono-ExtraLight-path: "./assets/font/JetBrainsMono-ExtraLight.woff";
$JetBrainsMono-Italic-path: "./assets/font/JetBrainsMono-Italic.woff";
$JetBrainsMono-Light-Italic-path: "./assets/font/JetBrainsMono-Light-Italic.woff";
$JetBrainsMono-Light-path: "./assets/font/JetBrainsMono-Light.woff";
$JetBrainsMono-Medium-Italic-path: "./assets/font/JetBrainsMono-Medium-Italic.woff";
$JetBrainsMono-Medium-path: "./assets/font/JetBrainsMono-Medium.woff";
$JetBrainsMono-Regular-path: "./assets/font/JetBrainsMono-Regular.woff";
$JetBrainsMono-SemiLight-Italic-path: "./assets/font/JetBrainsMono-SemiLight-Italic.woff";
$JetBrainsMono-SemiLight-path: "./assets/font/JetBrainsMono-SemiLight.woff";
$font-family-brand: 'JetBrainsMono';
