<ul class="menu" data-test="menu">
    <li data-test="menu-item">
        <a routerLink="/" [innerHTML]="'menu.home' | translate" data-test="menu-item-home"></a>
    </li>
    <li data-test="menu-item">
        <a routerLink="/about" [innerHTML]="'menu.about' | translate" data-test="menu-item-about"></a>
    </li>
    <li data-test="menu-item">
        <a routerLink="/games" [innerHTML]="'menu.games' | translate" data-test="menu-item-games"></a>
    </li>
    <li data-test="menu-item">
        <a routerLink="/websites" [innerHTML]="'menu.websites' | translate" data-test="menu-item-websites"></a>
    </li>
    <li data-test="menu-item">
        <a routerLink="/contact" [innerHTML]="'menu.contact' | translate" data-test="menu-item-contact"></a>
    </li>
</ul>